form#migration {
	span.status {
		display: block;
		margin: 10px;
		width: 16px;
		height: 16px;
	}

	tr.pending .status {
		background-color: dimgray;
		border-radius: 40%;
	}

	tr.ok .status {
		background: #37ce02;
		border-radius: 50%;
	}

	tr.error .status {
		background: #ce3702;
	}

	tr.indeterminate .status {
		background: #e6db00;
		border-radius: 40%;
	}

	input {
		min-width: 200px;
	}
}